@tailwind base;
@tailwind components;
@tailwind utilities;

.profile-img {
    animation-duration: 2s;
    animation-iteration-count: infinite;
    transform-origin: bottom;
}

.bounce:hover {
    animation-name: bounce;
    animation-timing-function: ease;
}

@keyframes bounce {
    0%   { transform: translateY(0); }
    50%  { transform: translateY(-50px); }
    100% { transform: translateY(0); }
}

.zoom:hover {
    transform: scale(1.15);
}

.shdw:hover {
    box-shadow: 5px 5px 35px 0px #865350;
}